.converse-ui-collectionWidget {
  border: 1px solid #cccccc;
  padding: 0.3em;
}
.converse-ui-collectionWidget .converse-ui-collectionWidget {
  margin-left: 0.5em;
  margin-top: 1em;
  -webkit-box-shadow: -1px -1px 4px 0px rgba(150, 150, 150, 0.79);
  -moz-box-shadow: -1px -1px 4px 0px rgba(150, 150, 150, 0.79);
  box-shadow: -1px -1px 4px 0px rgba(150, 150, 150, 0.79);
}
.converse-ui-collectionWidget .converse-ui-collectionWidget .converse-ui-collectionWidget-title {
  background: #A5F2DB;
}
.converse-ui-collectionWidget-title {
  background: #A5E0F2;
  padding: 0.3em;
}
.converse-ui-collectionWidget-summary {
  background: #E3E3E3;
}
.converse-ui-collectionWidget-linkButton {
  font-size: 0.85em;
  float: right;
}
.converse-ui-collectionWidget-timestamp {
  font-size: 0.85em;
  padding: 0.3em;
  opacity: 0.7;
}
.converse-ui-collectionWidget-timestamp:hover {
  opacity: 1;
}

.converse-ui-postWidget {
  padding: 0.3em;
}
